# Core attack framework
torch==2.4.1
torchaudio==2.4.1
numpy==1.23.5
soundfile==0.12.1
PyYAML==6.0.2
tqdm==4.66.5

# CRNN victim model (sed-crnn/)
ipython==8.12.3
joblib==1.4.2
keras
librosa
matplotlib==3.7.2
scikit_learn==1.3.2

# ATST-SED victim model (ATST-SED/)
dcase_util==0.2.20
einops==0.8.0
h5py==3.11.0
pandas==2.0.3
psds_eval==0.5.3
pytorch_lightning==2.4.0
Requests==2.32.3
scipy
sed_eval==0.2.1
sed_scores_eval==0.0.0
setuptools==75.2.0
torchmetrics==1.5.2
thop==0.1.1.post2209072238
